@import "tailwindcss";


:root {
  --background: #e7dfd8;
  --foreground: #e7dfd8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e7dfd8;
    --foreground: #171717;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  /* pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite */
}

